<div class="award">
	<h2>Honors & Awards</h2>
	<ul>
		<li>Outstanding Graduate, NUDT, 2024</li>
		<li>First Prize Scholarship, NUDT, 2023</li>
	</ul>
</div>

<div class='award'>
	<h3>
		Selected Awards
	</h3>
	<ul>
		<li>Outstanding Graduate of NUDT (2024)</li>
		<li>First-class Academic Scholarship (2023)</li>
	</ul>
	
	<h3>
		Professional Activities
	</h3>

	<h4>
		<a name='research'></a> Research Experience
	</h4>

	<ul>
		<li>Research on Computing Geometry and Image Warping (2023-Present)</li>
		<li>Study on Image Processing Algorithms (2022-2023)</li>
	</ul>
	
	<h4>
		<a name='skills'></a> Technical Skills
	</h4>
	
	<ul>
		<li>Programming Languages: Python, C++</li>
		<li>Deep Learning Frameworks: PyTorch, TensorFlow</li>
		<li>Computer Vision Libraries: OpenCV, PIL</li>
		<li>Version Control: Git</li>
	</ul>
</div>


