<div class="col-md-3" id="profile">
    <div style="margin-top: 20px;">
        <img src="assets/images/wenting.jpg" class="img-thumbnail" width="200px" height="200px">
    </div>
</div>

<div class="col-md-9" id="introduction">
    <h2>Wenting Luan</h2>
    <p>PhD Student at National University of Defense Technology (NUDT)</p>
    
    <p>My research interests include:</p>
    <ul>
        <li>Computer Vision</li>
        <li>Image Processing</li>
        <li>Computational Photography</li>
    </ul>

    <p><b>Email:</b> luanwenting@nudt.edu.cn</p>
</div>
