<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/Wenting.jpg" alt="photo" height="200" width="150">
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Wenting Luan 栾汶庭
			</h3>
			<p>
			 I am currently a first-year direct PhD student at Institute of Intelligent Science, Nation University of Defense Technology (NUDT), supervised by Prof. Yongbin Zheng and Prof. Zongtan Zhou. Prior to that, I received the B.S. degree from National University of Defense Technology (NUDT) in 2024.
			</p>
			<p>
			
			<h3>
			Research Interests 
			</h3> 
			My current research interests primarily focus on the computing geometry and image warping.
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto:luanwenting20@163.com"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			{% if site.website_github %}
				 <a href="https://github.com/lwttttt" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_github}}</a>
			{% endif %}		
	</div>
</div>
