<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <div class="container">
        {% include introduction.html %}
        
        {% include news.html %}
        
        {% include publication.html %}
        
        {% include award.html %}
        
        {% include footer.html %}
    </div>

    <!-- Scripts -->
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
</body>
</html> 